rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // only allow admins to access this collection
    // match /partite/*/ {
    //   allow read, write: if request.auth != null && request.auth.token.admin == true;
    // }

    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 5, 30);
    }
  }
}