---
import Base from '../layouts/Base.astro'
---

<Base>
    <div class="title">About</div>
    <div class="text">
        <p>
            Lo scopo di questo sito è semplicemente avere una scusa in più per alimentare la vostra ludopatia
            (anche se non ci sono soldi né premi in palio), e magari darvi un ulteriore motivo per guardare tutti
            insieme questo contest.
        </p>
        <p>
            Nel tempo ho diffuso il verbo di questo evento alla mia cerchia di amici, e anno dopo anno siamo stati
            sempre più a seguire questo concentrato di trash e buone intenzioni seduti attorno al televisore a
            cantare la sigla dell’eurovisione, ringraziando il fatto che non avesse lo stesso ammontare
            pubblicitario di Sanremo.
        </p>
        <p>
            Seguendo il trend di questa degenerazione annua, per il 2024 è nata l’idea di creare un sito su cui
            istituire un nostro gioco che si discostasse dal già conosciuto FantaSanremo. Naturalmente ci siamo
            mossi molto tardi e di conseguenza il sito potrebbe ancora essere pieno di bug e col potenziale di
            molti miglioramenti. L’idea è quella di fruire da <strong>beta test</strong> per l’anno prossimo, dunque
            ad ogni problema vi saremmo grati se ce lo faceste notare.
        </p>
        <p>Infine vorrei ringraziare Antonio De Lucreziis per aver dato forma digitale alle numerose idee.</p>
        <p>Buon divertimento</p>
    </div>
</Base>
