---
import { ClassificaPage } from '../components/ClassificaPage'
import Base from '../layouts/Base.astro'
---

<Base>
    <div class="title">Classifica</div>
    <ClassificaPage client:only />
</Base>
