---
import { EurovisionCountdown } from '../components/EuroCounter.jsx'
import { LoginProfileButton } from '../components/LoginProfileButton'

import Base from '../layouts/Base.astro'
---

<Base isHomepage={true}>
    <div class="logo-title">FantaVision</div>
    <section>
        <p>Partecipa al FantaVision, mancano solo</p>
        <EurovisionCountdown client:only />
        <p>all'inizio dell'EuroVision, invia la tua classifica!</p>
    </section>
    <LoginProfileButton client:load />
</Base>
