---
import { EurovisionCountdown } from '../components/EuroCounter.jsx'
import { IndexPage } from '../components/IndexPage'
import { LoginProfileButton } from '../components/LoginProfileButton'

import Base from '../layouts/Base.astro'
---

<Base isHomepage={true}>
    <div class="logo v-box">
        <div class="logo-title">FantaVision</div>
        <div class="logo-subtitle">Classifica a Varianza</div>
    </div>
    <section>
        <!-- <EurovisionCountdown client:only /> -->
        <IndexPage client:only />
    </section>
</Base>
