---
import { LoginButton } from '../components/LoginButton'
import Base from '../layouts/Base.astro'
---

<Base>
    <div class="title">Login</div>
    <div class="card v-box">
        <LoginButton client:only />
    </div>
</Base>
