---
import Base from '../layouts/Base.astro'
---

<Base>
    <div class="title">Profilo</div>
    <div class="card v-box">
        <h1>Imposta un nickname</h1>
        <div class="h-box">
            <input class="grow" type="text" placeholder="nickname..." />
            <button>OK</button>
        </div>
    </div>
</Base>
