---
import Base from '../layouts/Base.astro'
---

<Base hasMath={true}>
    <div class="title">Regolamento</div>
    <div class="text">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex dolorem, alias temporibus minima vitae voluptatem animi! Deserunt, sequi
            minima? Repudiandae?
        </p>
        <p is:raw>$$\sum_{k = 1}^{n} k^2 = \frac{n(n + 1)(2n + 1)}{6}$$</p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex dolorem, alias temporibus minima vitae voluptatem animi! Deserunt, sequi
            minima? Repudiandae?
        </p>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
        </ul>
        <p>
            Itaque quisquam labore aliquid molestiae doloribus placeat a aut ratione amet quidem. Facilis fuga sequi tempore et modi, natus officiis!
        </p>
        <h2>Lorem ipsum dolor sit</h2>

        <p>
            Suscipit odio earum quibusdam nihil cupiditate assumenda eaque itaque repellat adipisci, impedit esse minus ipsum obcaecati sequi fugit
            quidem nam.
        </p>
        <p>
            Itaque quisquam labore aliquid molestiae doloribus placeat a aut ratione amet quidem. Facilis fuga sequi tempore et modi, natus officiis!
        </p>
        <h2>Lorem ipsum dolor sit</h2>
        <p>
            Suscipit odio earum quibusdam nihil cupiditate assumenda eaque itaque repellat adipisci, impedit esse minus ipsum obcaecati sequi fugit
            quidem nam.
        </p>
        <p>
            Itaque quisquam labore aliquid molestiae doloribus placeat a aut ratione amet quidem. Facilis fuga sequi tempore et modi, natus officiis!
        </p>
    </div>
</Base>
