*,
*::before,
*::after {
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

img {
    display: block;
}

// Sass Headings

$base-font-size: 22px;
$heading-scale: 1.33;

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }

    @return $value;
}

@for $i from 1 through 5 {
    h#{$i} {
        $factor: pow($heading-scale, 5 - $i);

        font-family: 'Kaushan Script', cursive;
        font-size: $base-font-size * $factor;
    }
}

p {
    text-align: center;
    line-height: 1.35;

    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

// Components

:root {
    --logo-title-color-1: #f7e94b;
    --logo-title-color-2: #4bf7e9;
}

.logo-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    font-weight: 600;

    text-align: center;

    padding: 0.5rem;

    // background: #ffc02e;
    background: linear-gradient(to bottom right, var(--logo-title-color-1) 0%, var(--logo-title-color-2) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 100px #ffffff88;

    user-select: none;

    @media (max-width: 800px) {
        font-size: 64px;
    }
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;

    text-align: center;

    padding: 0.5rem;

    background: #ffc02e;
    background: linear-gradient(to bottom right, #ffc02e 0%, #abf4f2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 2rem #ffffff44;

    user-select: none;
}

button,
.button,
[role='button'] {
    padding: 0 2rem;
    border: 2px solid #fff;
    border-radius: 100px;
    text-decoration: none;

    color: #fff;
    font-size: 18px;
    font-weight: 600;

    display: grid;
    place-content: center;

    height: 2.5rem;

    transition: background 64ms ease-in-out;

    background: transparent;

    &:hover {
        background: hsla(0, 0%, 100%, 0.2);
    }

    cursor: pointer;
}

.card {
    padding: 2rem;
    border-radius: 1rem;

    background: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.2);
}

// .form {
//     background: hsla(0, 0%, 100%, 0.1);

//     box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.4);
// }

.svg-background {
    position: absolute;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
}

.euro-counter {
    padding: 1rem 0;

    display: grid;
    place-content: center;

    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

// Structure

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;

    background: #000;

    // background-image: linear-gradient(to right top, #050f24, #122350, #31347c, #5d41a8, #9449cf);

    display: grid;
    grid-template-rows: auto 1fr auto;

    & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 1.5rem;

        & > .logo {
            @extend .logo-title;

            display: grid;
            place-content: center;

            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0;

            font-size: 45px;

            text-decoration: none;

            transition: transform 150ms ease-out;

            text-shadow: none;

            &:hover {
                transform: scale(1.1);
            }
        }

        & > .links {
            padding: 1.5rem;

            display: grid;
            grid-auto-flow: column;
            gap: 1rem;
        }
    }

    & > footer {
        font-weight: 500;

        background: hsla(0, 0%, 0%, 0.2);
        // background: #050f24;
        color: #fff;

        backdrop-filter: blur(100px);

        display: grid;
        place-content: center;

        padding: 2rem 0;
    }

    main {
        padding-top: 8rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        & > section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}

// Media Queries

@media (max-width: 800px) {
    p {
        font-size: 16px;
    }
    .euro-counter {
        padding: 0;
        font-size: 42px;
        text-align: center;
        line-height: 1.25;
    }

    button,
    .button,
    [role='button'] {
        padding: 0 1.5rem;
        font-size: 15px;
    }

    body {
        & > nav {
            flex-direction: column;
            padding: 1rem 0;
            gap: 1rem;

            & > .links {
                padding: 0;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        & > main {
            padding: 1rem;
            gap: 1rem;
        }
    }
}
