---
import '@fontsource-variable/material-symbols-outlined'
import '@fontsource/kaushan-script/latin.css'
import '@fontsource/open-sans/latin.css'

import '../styles.scss'

const { title, isHomepage, hasMath } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="icon" type="image/png" href="/favicon/android-chrome-512x512.png" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="FantaVision" />
        <meta property="og:site_name" content="FantaVision" />
        <meta property="og:description" content="Sito del FantaVision" />
        <meta property="og:image" content="/favicon/android-chrome-512x512.png" />

        {
            hasMath && (
                <>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css">
                    <script is:inline type="module">
                        import 'https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.mjs'; 
                        import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.mjs";

                        document.addEventListener('DOMContentLoaded', () => {
                            renderMathInElement(document.body, {
                                delimiters: [
                                    { left: '$$', right: '$$', display: true },
                                    { left: '$', right: '$', display: false },
                                ],
                            });
                        });
                    </script>
                </>
            )
        }

        <title>{title ? `${title} | FantaVision` : 'FantaVision'}</title>
    </head>
    <body>
        <svg
            class="svg-background"
            id="visual"
            preserveAspectRatio="none"
            viewBox="0 0 1920 1080"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
        >
            <defs>
                <filter id="blur1" x="-10%" y="-10%" width="120%" height="120%">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"></feBlend>
                    <feGaussianBlur stdDeviation="327" result="effect1_foregroundBlur"></feGaussianBlur>
                </filter>
            </defs>
            <rect width="1920" height="1080" fill="#000"></rect>
            <g filter="url(#blur1)">
                <circle cx="29" cy="487" fill="#9E08AB" r="700"></circle>
                <circle cx="1329" cy="231" fill="#5108B4" r="700"></circle>
                <circle cx="1545" cy="889" fill="#9E08AB" r="600"></circle>
                <circle cx="331" cy="198" fill="#9E08AB" r="700"></circle>
                <circle cx="200" cy="832" fill="#5108B4" r="700"></circle>
                <circle cx="822" cy="210" fill="#5108B4" r="500"></circle>
            </g>
        </svg>

        <nav>
            {
                isHomepage ? (
                    <div />
                ) : (
                    <a class="logo" href="/">
                        FantaVision
                    </a>
                )
            }
            <div class="links">
                <a role="button" href="/regolamento">Regolamento</a>
                <a role="button" href="/about">About</a>
                <a role="button" href="/login">Login</a>
            </div>
        </nav>
        <main>
            <slot />
        </main>
        <footer>&copy; Giulio Agnello & Antonio De Lucreziis</footer>
    </body>
</html>
