---
import '@fontsource-variable/material-symbols-outlined'
import '@fontsource/kaushan-script/latin.css'
import '@fontsource/open-sans/latin.css'

import '../styles.scss'

const { title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="icon" type="image/png" href="/favicon/android-chrome-512x512.png" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="FantaVision" />
        <meta property="og:site_name" content="FantaVision" />
        <meta property="og:description" content="Sito del FantaVision" />
        <meta property="og:image" content="/favicon/android-chrome-512x512.png" />

        <title>{title ? `${title} | FantaVision` : 'FantaVision'}</title>
    </head>
    <body>
        <nav>
            <a class="logo" href="/">FantaVision</a>
            <div class="links">
                <a class="button flat" href="/regolamento">Regolamento</a>
                <a class="button flat" href="/about">About</a>
                <a class="button flat" href="/login">Login</a>
            </div>
        </nav>
        <main>
            <slot />
        </main>
        <footer>&copy; Giulio Agnello & Antonio De Lucreziis</footer>
    </body>
</html>
