---
import '@fontsource-variable/material-symbols-outlined/full.css'
import '@fontsource/kaushan-script/latin.css'
import '@fontsource/open-sans/latin.css'

import '../styles.scss'
import { NavLoginProfileButton } from '../components/NavLoginProfileButton'

const { title, isHomepage, hasMath } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="icon" type="image/png" href="/favicon/android-chrome-512x512.png" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="FantaVision" />
        <meta property="og:site_name" content="FantaVision" />
        <meta property="og:description" content="Sito del FantaVision" />
        <meta property="og:image" content="/favicon/android-chrome-512x512.png" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        {
            hasMath && (
                <>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css">
                    <script is:inline type="module">
                        import 'https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.mjs'; 
                        import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.mjs";

                        document.addEventListener('DOMContentLoaded', () => {
                            renderMathInElement(document.body, {
                                delimiters: [
                                    { left: '$$', right: '$$', display: true },
                                    { left: '$', right: '$', display: false },
                                ],
                            });
                        });
                    </script>
                </>
            )
        }

        <title>{title ? `${title} | FantaVision` : 'FantaVision'}</title>
    </head>
    <body>
        <img class="svg-background" src="/blurry-gradient.svg" alt="blurry gradient">

        <nav>
            {
                isHomepage ? (
                    <div />
                ) : (
                    <a class="logo" href="/">
                        FantaVision
                    </a>
                )
            }
            <div class="links">
                <a role="button" href="/regolamento">Regolamento</a>
                <a role="button" href="/about">About</a>
                <NavLoginProfileButton client:load />
            </div>
        </nav>
        <main>
            <slot />
        </main>
        <footer>&copy; Giulio Agnello & Antonio De Lucreziis</footer>
    </body>
</html>
